[{:sue 1 :goldfish 9 :cars 0 :samoyeds 9}
 {:sue 2 :perfumes 5 :trees 8 :goldfish 8}
 {:sue 3 :pomeranians 2 :akitas 1 :trees 5}
 {:sue 4 :goldfish 10 :akitas 2 :perfumes 9}
 {:sue 5 :cars 5 :perfumes 6 :akitas 9}
 {:sue 6 :goldfish 10 :cats 9 :cars 8}
 {:sue 7 :trees 2 :samoyeds 7 :goldfish 10}
 {:sue 8 :cars 8 :perfumes 6 :goldfish 1}
 {:sue 9 :cats 4 :pomeranians 0 :trees 0}
 {:sue 10 :trees 2 :children 10 :samoyeds 10}
 {:sue 11 :akitas 10 :perfumes 4 :vizslas 1}
 {:sue 12 :akitas 1 :trees 0 :goldfish 3}
 {:sue 13 :perfumes 6 :goldfish 10 :cars 8}
 {:sue 14 :cats 8 :akitas 5 :vizslas 0}
 {:sue 15 :cars 8 :trees 3 :samoyeds 5}
 {:sue 16 :vizslas 6 :cats 6 :pomeranians 10}
 {:sue 17 :akitas 6 :cats 2 :perfumes 9}
 {:sue 18 :children 9 :goldfish 2 :akitas 10}
 {:sue 19 :trees 3 :perfumes 0 :goldfish 6}
 {:sue 20 :vizslas 3 :akitas 0 :trees 1}
 {:sue 21 :vizslas 3 :cars 7 :akitas 3}
 {:sue 22 :perfumes 7 :children 1 :pomeranians 7}
 {:sue 23 :trees 10 :cars 9 :akitas 10}
 {:sue 24 :akitas 5 :goldfish 6 :vizslas 6}
 {:sue 25 :samoyeds 3 :trees 8 :vizslas 5}
 {:sue 26 :vizslas 4 :pomeranians 2 :trees 1}
 {:sue 27 :cars 9 :goldfish 2 :trees 4}
 {:sue 28 :vizslas 6 :goldfish 10 :perfumes 7}
 {:sue 29 :vizslas 6 :pomeranians 3 :akitas 6}
 {:sue 30 :trees 0 :samoyeds 5 :akitas 9}
 {:sue 31 :vizslas 1 :perfumes 0 :trees 6}
 {:sue 32 :cars 7 :vizslas 1 :children 10}
 {:sue 33 :vizslas 1 :cars 1 :perfumes 7}
 {:sue 34 :vizslas 9 :trees 10 :akitas 9}
 {:sue 35 :akitas 3 :vizslas 5 :cars 10}
 {:sue 36 :cats 3 :children 9 :samoyeds 3}
 {:sue 37 :vizslas 5 :pomeranians 7 :cars 6}
 {:sue 38 :cars 10 :akitas 5 :vizslas 8}
 {:sue 39 :akitas 5 :trees 9 :children 2}
 {:sue 40 :vizslas 0 :cats 7 :akitas 0}
 {:sue 41 :cars 9 :trees 10 :perfumes 8}
 {:sue 42 :akitas 4 :trees 2 :goldfish 3}
 {:sue 43 :goldfish 1 :cats 1 :akitas 8}
 {:sue 44 :goldfish 8 :akitas 9 :vizslas 4}
 {:sue 45 :perfumes 3 :goldfish 4 :trees 0}
 {:sue 46 :trees 7 :perfumes 1 :goldfish 8}
 {:sue 47 :pomeranians 10 :cars 7 :trees 2}
 {:sue 48 :trees 2 :akitas 1 :cars 4}
 {:sue 49 :goldfish 5 :perfumes 7 :akitas 8}
 {:sue 50 :akitas 9 :vizslas 9 :trees 2}
 {:sue 51 :cars 0 :samoyeds 0 :vizslas 8}
 {:sue 52 :trees 0 :perfumes 6 :pomeranians 4}
 {:sue 53 :vizslas 1 :cats 6 :akitas 3}
 {:sue 54 :samoyeds 8 :akitas 1 :vizslas 4}
 {:sue 55 :goldfish 10 :perfumes 2 :pomeranians 10}
 {:sue 56 :trees 9 :perfumes 3 :goldfish 5}
 {:sue 57 :akitas 3 :perfumes 0 :cats 2}
 {:sue 58 :perfumes 4 :vizslas 4 :cars 8}
 {:sue 59 :goldfish 7 :children 5 :pomeranians 8}
 {:sue 60 :cars 1 :trees 1 :perfumes 10}
 {:sue 61 :trees 4 :samoyeds 4 :cars 6}
 {:sue 62 :akitas 10 :trees 2 :vizslas 6}
 {:sue 63 :goldfish 3 :perfumes 7 :vizslas 10}
 {:sue 64 :pomeranians 5 :children 10 :cars 0}
 {:sue 65 :vizslas 10 :cars 8 :perfumes 3}
 {:sue 66 :children 5 :vizslas 4 :akitas 10}
 {:sue 67 :children 6 :perfumes 7 :cars 3}
 {:sue 68 :goldfish 8 :cars 6 :children 1}
 {:sue 69 :vizslas 5 :perfumes 3 :cars 9}
 {:sue 70 :goldfish 0 :cats 6 :perfumes 0}
 {:sue 71 :trees 2 :samoyeds 3 :cars 1}
 {:sue 72 :cats 3 :akitas 8 :vizslas 7}
 {:sue 73 :akitas 3 :vizslas 2 :goldfish 6}
 {:sue 74 :pomeranians 10 :samoyeds 9 :cats 8}
 {:sue 75 :vizslas 7 :cars 7 :akitas 10}
 {:sue 76 :children 3 :cats 6 :vizslas 3}
 {:sue 77 :goldfish 7 :pomeranians 10 :trees 0}
 {:sue 78 :vizslas 9 :children 7 :trees 10}
 {:sue 79 :trees 6 :pomeranians 8 :samoyeds 1}
 {:sue 80 :vizslas 5 :children 6 :pomeranians 5}
 {:sue 81 :cars 9 :vizslas 9 :akitas 9}
 {:sue 82 :vizslas 3 :cars 8 :akitas 1}
 {:sue 83 :vizslas 4 :trees 2 :cats 1}
 {:sue 84 :children 3 :akitas 0 :vizslas 1}
 {:sue 85 :cats 6 :vizslas 5 :akitas 2}
 {:sue 86 :cars 3 :akitas 7 :goldfish 8}
 {:sue 87 :samoyeds 8 :vizslas 3 :goldfish 8}
 {:sue 88 :vizslas 4 :children 0 :cats 7}
 {:sue 89 :goldfish 9 :pomeranians 10 :samoyeds 0}
 {:sue 90 :trees 6 :akitas 3 :cars 7}
 {:sue 91 :samoyeds 3 :akitas 7 :perfumes 10}
 {:sue 92 :cars 7 :pomeranians 10 :trees 2}
 {:sue 93 :samoyeds 1 :children 3 :cars 3}
 {:sue 94 :samoyeds 8 :akitas 7 :vizslas 0}
 {:sue 95 :goldfish 7 :children 2 :cars 6}
 {:sue 96 :cars 3 :perfumes 9 :akitas 10}
 {:sue 97 :akitas 9 :cars 10 :vizslas 10}
 {:sue 98 :trees 4 :goldfish 8 :pomeranians 7}
 {:sue 99 :samoyeds 6 :pomeranians 0 :vizslas 7}
 {:sue 100 :akitas 7 :perfumes 8 :vizslas 3}
 {:sue 101 :cars 5 :perfumes 1 :trees 0}
 {:sue 102 :akitas 6 :pomeranians 10 :trees 0}
 {:sue 103 :trees 3 :perfumes 5 :cats 9}
 {:sue 104 :goldfish 10 :perfumes 8 :akitas 0}
 {:sue 105 :goldfish 6 :vizslas 5 :trees 2}
 {:sue 106 :pomeranians 9 :samoyeds 10 :perfumes 10}
 {:sue 107 :cars 8 :vizslas 4 :akitas 2}
 {:sue 108 :cats 0 :goldfish 7 :trees 0}
 {:sue 109 :cars 3 :pomeranians 6 :trees 2}
 {:sue 110 :perfumes 4 :goldfish 5 :akitas 10}
 {:sue 111 :cars 3 :perfumes 4 :pomeranians 4}
 {:sue 112 :cats 2 :goldfish 10 :akitas 0}
 {:sue 113 :cats 10 :children 0 :trees 1}
 {:sue 114 :akitas 10 :vizslas 3 :goldfish 0}
 {:sue 115 :samoyeds 3 :goldfish 6 :vizslas 1}
 {:sue 116 :cars 3 :perfumes 5 :trees 6}
 {:sue 117 :akitas 9 :samoyeds 8 :goldfish 8}
 {:sue 118 :pomeranians 5 :perfumes 10 :trees 1}
 {:sue 119 :goldfish 6 :perfumes 3 :children 1}
 {:sue 120 :trees 1 :children 3 :pomeranians 6}
 {:sue 121 :akitas 7 :cars 10 :vizslas 9}
 {:sue 122 :trees 4 :akitas 8 :samoyeds 10}
 {:sue 123 :cats 4 :cars 8 :vizslas 9}
 {:sue 124 :cars 10 :children 1 :trees 0}
 {:sue 125 :goldfish 5 :pomeranians 5 :trees 2}
 {:sue 126 :goldfish 1 :vizslas 8 :akitas 10}
 {:sue 127 :vizslas 4 :cars 9 :akitas 1}
 {:sue 128 :goldfish 8 :perfumes 3 :cars 9}
 {:sue 129 :goldfish 9 :pomeranians 9 :perfumes 1}
 {:sue 130 :trees 1 :vizslas 9 :perfumes 3}
 {:sue 131 :children 6 :trees 8 :vizslas 8}
 {:sue 132 :cars 1 :vizslas 3 :children 7}
 {:sue 133 :cars 7 :children 1 :perfumes 6}
 {:sue 134 :trees 8 :vizslas 3 :samoyeds 2}
 {:sue 135 :cats 9 :perfumes 4 :pomeranians 7}
 {:sue 136 :perfumes 0 :akitas 8 :vizslas 6}
 {:sue 137 :goldfish 5 :trees 0 :vizslas 7}
 {:sue 138 :trees 1 :perfumes 2 :cars 10}
 {:sue 139 :samoyeds 8 :goldfish 8 :trees 0}
 {:sue 140 :vizslas 10 :perfumes 9 :goldfish 0}
 {:sue 141 :perfumes 7 :cars 9 :cats 5}
 {:sue 142 :trees 2 :samoyeds 2 :cars 0}
 {:sue 143 :cars 1 :perfumes 1 :akitas 1}
 {:sue 144 :vizslas 9 :cars 7 :pomeranians 10}
 {:sue 145 :pomeranians 2 :samoyeds 7 :children 7}
 {:sue 146 :vizslas 6 :cars 9 :goldfish 7}
 {:sue 147 :trees 2 :vizslas 1 :cats 9}
 {:sue 148 :perfumes 9 :trees 4 :pomeranians 5}
 {:sue 149 :samoyeds 8 :children 1 :vizslas 9}
 {:sue 150 :cats 3 :trees 2 :vizslas 4}
 {:sue 151 :goldfish 7 :akitas 10 :trees 3}
 {:sue 152 :perfumes 4 :vizslas 7 :cars 4}
 {:sue 153 :pomeranians 4 :akitas 0 :vizslas 3}
 {:sue 154 :samoyeds 8 :trees 2 :vizslas 10}
 {:sue 155 :vizslas 7 :cats 7 :pomeranians 5}
 {:sue 156 :goldfish 10 :pomeranians 1 :vizslas 1}
 {:sue 157 :cars 6 :perfumes 7 :trees 9}
 {:sue 158 :trees 5 :samoyeds 9 :goldfish 3}
 {:sue 159 :pomeranians 4 :akitas 6 :vizslas 8}
 {:sue 160 :goldfish 7 :children 0 :cats 0}
 {:sue 161 :vizslas 5 :akitas 0 :samoyeds 2}
 {:sue 162 :akitas 4 :children 0 :vizslas 3}
 {:sue 163 :samoyeds 2 :perfumes 0 :goldfish 9}
 {:sue 164 :cars 9 :vizslas 8 :akitas 6}
 {:sue 165 :samoyeds 9 :vizslas 9 :perfumes 5}
 {:sue 166 :cars 5 :pomeranians 4 :samoyeds 8}
 {:sue 167 :cars 10 :perfumes 3 :samoyeds 6}
 {:sue 168 :pomeranians 8 :goldfish 9 :trees 9}
 {:sue 169 :vizslas 7 :akitas 3 :samoyeds 4}
 {:sue 170 :cats 2 :goldfish 0 :vizslas 4}
 {:sue 171 :perfumes 3 :goldfish 10 :cats 3}
 {:sue 172 :goldfish 7 :akitas 6 :cars 0}
 {:sue 173 :cars 9 :goldfish 7 :akitas 5}
 {:sue 174 :goldfish 6 :cats 0 :vizslas 8}
 {:sue 175 :perfumes 7 :cats 10 :cars 10}
 {:sue 176 :samoyeds 9 :vizslas 4 :pomeranians 10}
 {:sue 177 :perfumes 0 :trees 0 :cars 10}
 {:sue 178 :vizslas 6 :children 7 :samoyeds 1}
 {:sue 179 :vizslas 8 :children 6 :trees 0}
 {:sue 180 :cars 1 :vizslas 6 :trees 1}
 {:sue 181 :vizslas 10 :perfumes 3 :cars 1}
 {:sue 182 :trees 8 :samoyeds 9 :cars 7}
 {:sue 183 :cars 6 :vizslas 2 :perfumes 7}
 {:sue 184 :trees 5 :samoyeds 9 :akitas 0}
 {:sue 185 :cars 8 :goldfish 8 :trees 4}
 {:sue 186 :samoyeds 6 :goldfish 1 :trees 2}
 {:sue 187 :perfumes 1 :trees 2 :akitas 7}
 {:sue 188 :samoyeds 5 :cars 6 :perfumes 2}
 {:sue 189 :samoyeds 8 :goldfish 3 :perfumes 5}
 {:sue 190 :akitas 2 :cats 1 :samoyeds 1}
 {:sue 191 :trees 5 :akitas 1 :goldfish 7}
 {:sue 192 :vizslas 3 :trees 0 :perfumes 4}
 {:sue 193 :cars 3 :perfumes 4 :akitas 3}
 {:sue 194 :perfumes 4 :vizslas 8 :children 4}
 {:sue 195 :vizslas 1 :samoyeds 3 :cars 6}
 {:sue 196 :cars 5 :perfumes 6 :vizslas 2}
 {:sue 197 :vizslas 8 :akitas 8 :cats 6}
 {:sue 198 :cars 9 :akitas 2 :pomeranians 7}
 {:sue 199 :cats 9 :akitas 6 :cars 10}
 {:sue 200 :vizslas 10 :pomeranians 2 :goldfish 9}
 {:sue 201 :vizslas 9 :samoyeds 4 :akitas 3}
 {:sue 202 :akitas 5 :cats 2 :vizslas 0}
 {:sue 203 :perfumes 1 :children 3 :akitas 10}
 {:sue 204 :trees 4 :vizslas 7 :akitas 9}
 {:sue 205 :trees 8 :perfumes 9 :cars 1}
 {:sue 206 :goldfish 6 :trees 5 :cars 8}
 {:sue 207 :akitas 3 :vizslas 8 :trees 8}
 {:sue 208 :vizslas 4 :perfumes 7 :akitas 10}
 {:sue 209 :cars 9 :perfumes 7 :goldfish 9}
 {:sue 210 :vizslas 2 :cats 2 :akitas 10}
 {:sue 211 :akitas 1 :trees 3 :cars 2}
 {:sue 212 :goldfish 5 :trees 0 :vizslas 7}
 {:sue 213 :akitas 3 :perfumes 1 :vizslas 5}
 {:sue 214 :perfumes 3 :pomeranians 6 :cars 0}
 {:sue 215 :goldfish 1 :cats 9 :cars 3}
 {:sue 216 :goldfish 9 :pomeranians 6 :samoyeds 0}
 {:sue 217 :cars 6 :trees 2 :perfumes 2}
 {:sue 218 :vizslas 3 :goldfish 8 :akitas 5}
 {:sue 219 :cats 9 :perfumes 7 :cars 5}
 {:sue 220 :pomeranians 5 :vizslas 4 :cats 5}
 {:sue 221 :trees 0 :akitas 7 :goldfish 10}
 {:sue 222 :akitas 2 :cars 3 :vizslas 5}
 {:sue 223 :goldfish 3 :perfumes 7 :akitas 4}
 {:sue 224 :samoyeds 2 :cars 4 :vizslas 7}
 {:sue 225 :trees 5 :cars 0 :perfumes 0}
 {:sue 226 :trees 2 :goldfish 10 :perfumes 6}
 {:sue 227 :cars 8 :trees 9 :akitas 6}
 {:sue 228 :goldfish 10 :trees 10 :perfumes 0}
 {:sue 229 :children 7 :samoyeds 4 :goldfish 6}
 {:sue 230 :vizslas 9 :perfumes 1 :children 10}
 {:sue 231 :vizslas 8 :trees 5 :akitas 9}
 {:sue 232 :akitas 5 :goldfish 9 :trees 1}
 {:sue 233 :vizslas 3 :trees 2 :children 9}
 {:sue 234 :samoyeds 8 :perfumes 0 :cats 0}
 {:sue 235 :perfumes 4 :vizslas 3 :akitas 5}
 {:sue 236 :pomeranians 5 :vizslas 3 :akitas 9}
 {:sue 237 :cats 1 :trees 7 :vizslas 5}
 {:sue 238 :children 5 :cats 4 :samoyeds 5}
 {:sue 239 :trees 3 :akitas 2 :goldfish 6}
 {:sue 240 :goldfish 9 :trees 1 :perfumes 1}
 {:sue 241 :cars 2 :pomeranians 1 :samoyeds 2}
 {:sue 242 :akitas 2 :trees 3 :cars 4}
 {:sue 243 :vizslas 6 :akitas 2 :samoyeds 7}
 {:sue 244 :trees 0 :perfumes 5 :cars 7}
 {:sue 245 :goldfish 10 :perfumes 5 :vizslas 8}
 {:sue 246 :akitas 0 :perfumes 0 :cars 1}
 {:sue 247 :samoyeds 8 :goldfish 0 :cars 6}
 {:sue 248 :perfumes 0 :children 10 :trees 10}
 {:sue 249 :perfumes 6 :akitas 5 :cats 5}
 {:sue 250 :vizslas 7 :akitas 4 :cats 5}
 {:sue 251 :samoyeds 4 :akitas 1 :trees 8}
 {:sue 252 :perfumes 8 :pomeranians 5 :cars 1}
 {:sue 253 :akitas 10 :trees 4 :cats 3}
 {:sue 254 :perfumes 2 :cats 2 :goldfish 9}
 {:sue 255 :cars 4 :trees 1 :akitas 4}
 {:sue 256 :samoyeds 9 :goldfish 0 :akitas 9}
 {:sue 257 :vizslas 9 :perfumes 2 :goldfish 2}
 {:sue 258 :perfumes 1 :cars 9 :samoyeds 1}
 {:sue 259 :trees 0 :goldfish 0 :samoyeds 3}
 {:sue 260 :perfumes 7 :cars 1 :goldfish 0}
 {:sue 261 :cars 0 :trees 5 :goldfish 6}
 {:sue 262 :akitas 7 :vizslas 3 :pomeranians 5}
 {:sue 263 :trees 1 :vizslas 3 :goldfish 3}
 {:sue 264 :akitas 7 :vizslas 4 :children 0}
 {:sue 265 :samoyeds 5 :trees 0 :akitas 4}
 {:sue 266 :perfumes 9 :goldfish 9 :cars 8}
 {:sue 267 :cars 7 :perfumes 10 :pomeranians 8}
 {:sue 268 :cars 0 :akitas 7 :perfumes 4}
 {:sue 269 :pomeranians 0 :cars 9 :perfumes 10}
 {:sue 270 :samoyeds 10 :perfumes 10 :cars 9}
 {:sue 271 :akitas 2 :vizslas 8 :cats 5}
 {:sue 272 :akitas 3 :children 9 :samoyeds 10}
 {:sue 273 :perfumes 2 :cars 10 :goldfish 8}
 {:sue 274 :cars 3 :children 10 :perfumes 10}
 {:sue 275 :cats 9 :akitas 5 :trees 0}
 {:sue 276 :akitas 6 :children 2 :vizslas 1}
 {:sue 277 :pomeranians 6 :trees 10 :samoyeds 3}
 {:sue 278 :cars 7 :perfumes 10 :trees 1}
 {:sue 279 :cars 6 :pomeranians 8 :trees 2}
 {:sue 280 :pomeranians 9 :cats 0 :perfumes 7}
 {:sue 281 :vizslas 10 :goldfish 9 :pomeranians 5}
 {:sue 282 :perfumes 4 :samoyeds 7 :cars 9}
 {:sue 283 :cars 9 :vizslas 6 :trees 5}
 {:sue 284 :cars 7 :trees 1 :vizslas 4}
 {:sue 285 :samoyeds 4 :goldfish 10 :cats 4}
 {:sue 286 :samoyeds 0 :akitas 4 :children 5}
 {:sue 287 :trees 1 :perfumes 3 :goldfish 10}
 {:sue 288 :pomeranians 10 :akitas 3 :cars 2}
 {:sue 289 :trees 7 :pomeranians 4 :goldfish 10}
 {:sue 290 :samoyeds 10 :perfumes 0 :cars 9}
 {:sue 291 :akitas 0 :pomeranians 7 :vizslas 4}
 {:sue 292 :cats 2 :vizslas 8 :goldfish 5}
 {:sue 293 :vizslas 6 :pomeranians 9 :perfumes 0}
 {:sue 294 :akitas 6 :cars 7 :vizslas 5}
 {:sue 295 :goldfish 0 :akitas 9 :cats 0}
 {:sue 296 :goldfish 1 :trees 0 :cars 6}
 {:sue 297 :perfumes 6 :cats 8 :pomeranians 6}
 {:sue 298 :cats 0 :goldfish 6 :perfumes 2}
 {:sue 299 :cars 4 :akitas 1 :samoyeds 10}
 {:sue 300 :goldfish 9 :samoyeds 6 :cats 5}
 {:sue 301 :cars 0 :vizslas 7 :trees 0}
 {:sue 302 :goldfish 9 :samoyeds 1 :children 6}
 {:sue 303 :cars 6 :perfumes 7 :samoyeds 8}
 {:sue 304 :trees 8 :goldfish 9 :children 9}
 {:sue 305 :perfumes 0 :cars 5 :goldfish 4}
 {:sue 306 :cats 3 :cars 7 :vizslas 7}
 {:sue 307 :pomeranians 4 :perfumes 6 :cars 2}
 {:sue 308 :cars 9 :akitas 6 :goldfish 4}
 {:sue 309 :pomeranians 2 :vizslas 10 :goldfish 10}
 {:sue 310 :children 0 :cats 4 :akitas 7}
 {:sue 311 :children 10 :akitas 8 :vizslas 2}
 {:sue 312 :children 5 :cars 0 :vizslas 4}
 {:sue 313 :perfumes 10 :trees 3 :pomeranians 9}
 {:sue 314 :samoyeds 3 :goldfish 2 :trees 9}
 {:sue 315 :cars 2 :cats 5 :pomeranians 10}
 {:sue 316 :cats 6 :pomeranians 6 :children 9}
 {:sue 317 :cats 2 :vizslas 3 :perfumes 1}
 {:sue 318 :akitas 1 :perfumes 3 :vizslas 10}
 {:sue 319 :cars 7 :perfumes 0 :trees 0}
 {:sue 320 :goldfish 6 :samoyeds 6 :pomeranians 4}
 {:sue 321 :trees 2 :goldfish 6 :children 0}
 {:sue 322 :goldfish 0 :trees 2 :akitas 8}
 {:sue 323 :pomeranians 2 :samoyeds 9 :vizslas 1}
 {:sue 324 :trees 4 :goldfish 6 :pomeranians 6}
 {:sue 325 :trees 2 :pomeranians 3 :goldfish 1}
 {:sue 326 :perfumes 4 :goldfish 6 :trees 5}
 {:sue 327 :akitas 3 :cars 8 :cats 2}
 {:sue 328 :cats 6 :vizslas 0 :akitas 2}
 {:sue 329 :perfumes 3 :goldfish 10 :akitas 3}
 {:sue 330 :goldfish 3 :vizslas 1 :akitas 6}
 {:sue 331 :perfumes 4 :trees 1 :goldfish 5}
 {:sue 332 :goldfish 7 :vizslas 9 :akitas 1}
 {:sue 333 :children 8 :cars 8 :trees 4}
 {:sue 334 :cars 1 :vizslas 6 :trees 0}
 {:sue 335 :goldfish 2 :cars 2 :akitas 1}
 {:sue 336 :goldfish 5 :akitas 5 :trees 9}
 {:sue 337 :cars 5 :vizslas 6 :goldfish 6}
 {:sue 338 :cats 9 :akitas 3 :goldfish 9}
 {:sue 339 :akitas 3 :cats 2 :children 7}
 {:sue 340 :goldfish 0 :pomeranians 8 :perfumes 9}
 {:sue 341 :trees 0 :pomeranians 1 :goldfish 5}
 {:sue 342 :goldfish 10 :trees 3 :vizslas 4}
 {:sue 343 :cats 3 :samoyeds 1 :children 6}
 {:sue 344 :perfumes 3 :children 4 :samoyeds 2}
 {:sue 345 :children 6 :trees 2 :goldfish 1}
 {:sue 346 :trees 2 :pomeranians 3 :goldfish 5}
 {:sue 347 :akitas 10 :vizslas 7 :trees 1}
 {:sue 348 :perfumes 4 :akitas 2 :vizslas 7}
 {:sue 349 :perfumes 8 :goldfish 3 :vizslas 5}
 {:sue 350 :trees 4 :pomeranians 5 :akitas 10}
 {:sue 351 :perfumes 5 :cars 9 :trees 0}
 {:sue 352 :akitas 6 :children 8 :trees 10}
 {:sue 353 :samoyeds 7 :akitas 6 :vizslas 4}
 {:sue 354 :children 9 :goldfish 7 :perfumes 5}
 {:sue 355 :trees 1 :perfumes 4 :cars 1}
 {:sue 356 :samoyeds 1 :perfumes 4 :pomeranians 8}
 {:sue 357 :trees 7 :goldfish 10 :akitas 0}
 {:sue 358 :akitas 1 :vizslas 6 :cars 7}
 {:sue 359 :vizslas 3 :goldfish 8 :trees 4}
 {:sue 360 :akitas 10 :vizslas 2 :trees 3}
 {:sue 361 :samoyeds 6 :pomeranians 1 :perfumes 0}
 {:sue 362 :samoyeds 3 :cars 1 :trees 0}
 {:sue 363 :vizslas 0 :pomeranians 9 :akitas 4}
 {:sue 364 :perfumes 9 :pomeranians 8 :vizslas 9}
 {:sue 365 :vizslas 7 :cars 4 :perfumes 10}
 {:sue 366 :cars 0 :samoyeds 5 :goldfish 10}
 {:sue 367 :children 4 :vizslas 5 :akitas 4}
 {:sue 368 :samoyeds 9 :perfumes 4 :vizslas 6}
 {:sue 369 :perfumes 5 :cars 4 :samoyeds 5}
 {:sue 370 :akitas 3 :vizslas 2 :perfumes 1}
 {:sue 371 :cars 8 :cats 7 :children 5}
 {:sue 372 :vizslas 9 :perfumes 2 :akitas 10}
 {:sue 373 :trees 10 :pomeranians 9 :goldfish 3}
 {:sue 374 :children 4 :cars 10 :perfumes 2}
 {:sue 375 :children 7 :samoyeds 5 :cats 0}
 {:sue 376 :akitas 10 :samoyeds 5 :vizslas 5}
 {:sue 377 :goldfish 8 :trees 3 :perfumes 3}
 {:sue 378 :goldfish 10 :vizslas 0 :perfumes 2}
 {:sue 379 :trees 1 :vizslas 7 :pomeranians 4}
 {:sue 380 :samoyeds 8 :vizslas 3 :trees 2}
 {:sue 381 :goldfish 2 :perfumes 5 :samoyeds 9}
 {:sue 382 :cats 3 :vizslas 10 :akitas 5}
 {:sue 383 :cars 7 :goldfish 5 :akitas 8}
 {:sue 384 :children 6 :goldfish 10 :trees 1}
 {:sue 385 :cats 2 :akitas 6 :samoyeds 7}
 {:sue 386 :cars 10 :children 4 :goldfish 2}
 {:sue 387 :cats 0 :perfumes 5 :akitas 9}
 {:sue 388 :pomeranians 7 :akitas 0 :samoyeds 9}
 {:sue 389 :trees 0 :akitas 9 :vizslas 8}
 {:sue 390 :cars 0 :trees 10 :perfumes 9}
 {:sue 391 :cats 9 :goldfish 10 :perfumes 10}
 {:sue 392 :cars 3 :vizslas 6 :cats 3}
 {:sue 393 :vizslas 10 :perfumes 4 :goldfish 5}
 {:sue 394 :perfumes 4 :akitas 10 :trees 2}
 {:sue 395 :pomeranians 5 :cars 4 :perfumes 3}
 {:sue 396 :pomeranians 9 :vizslas 5 :akitas 2}
 {:sue 397 :cars 10 :goldfish 8 :trees 2}
 {:sue 398 :perfumes 7 :children 9 :goldfish 9}
 {:sue 399 :akitas 6 :cats 2 :goldfish 7}
 {:sue 400 :goldfish 9 :perfumes 0 :cars 2}
 {:sue 401 :children 4 :vizslas 0 :trees 2}
 {:sue 402 :akitas 4 :cars 8 :pomeranians 4}
 {:sue 403 :vizslas 8 :perfumes 7 :goldfish 1}
 {:sue 404 :goldfish 10 :samoyeds 7 :vizslas 3}
 {:sue 405 :akitas 1 :vizslas 6 :perfumes 6}
 {:sue 406 :pomeranians 8 :goldfish 6 :cats 3}
 {:sue 407 :goldfish 2 :vizslas 4 :akitas 7}
 {:sue 408 :cars 10 :perfumes 10 :vizslas 3}
 {:sue 409 :vizslas 7 :pomeranians 4 :perfumes 4}
 {:sue 410 :goldfish 4 :vizslas 7 :trees 5}
 {:sue 411 :cars 8 :trees 0 :goldfish 4}
 {:sue 412 :cars 8 :perfumes 5 :vizslas 4}
 {:sue 413 :vizslas 3 :akitas 7 :samoyeds 6}
 {:sue 414 :trees 0 :perfumes 6 :cars 10}
 {:sue 415 :pomeranians 4 :trees 1 :perfumes 6}
 {:sue 416 :cars 10 :perfumes 6 :akitas 2}
 {:sue 417 :perfumes 6 :samoyeds 0 :akitas 0}
 {:sue 418 :children 1 :perfumes 9 :vizslas 3}
 {:sue 419 :goldfish 9 :samoyeds 3 :perfumes 8}
 {:sue 420 :goldfish 4 :cars 10 :vizslas 7}
 {:sue 421 :samoyeds 7 :vizslas 7 :cats 2}
 {:sue 422 :trees 1 :goldfish 8 :perfumes 0}
 {:sue 423 :cars 3 :perfumes 2 :trees 3}
 {:sue 424 :samoyeds 6 :vizslas 0 :akitas 6}
 {:sue 425 :trees 3 :akitas 7 :goldfish 1}
 {:sue 426 :cars 9 :trees 1 :perfumes 0}
 {:sue 427 :pomeranians 0 :children 5 :perfumes 8}
 {:sue 428 :cars 0 :perfumes 6 :children 4}
 {:sue 429 :akitas 7 :pomeranians 9 :cats 6}
 {:sue 430 :cats 6 :trees 1 :cars 0}
 {:sue 431 :children 8 :akitas 5 :perfumes 9}
 {:sue 432 :perfumes 5 :akitas 10 :trees 9}
 {:sue 433 :akitas 4 :perfumes 10 :vizslas 7}
 {:sue 434 :trees 3 :children 10 :samoyeds 4}
 {:sue 435 :vizslas 5 :goldfish 2 :akitas 2}
 {:sue 436 :samoyeds 3 :trees 2 :cars 6}
 {:sue 437 :children 9 :akitas 0 :pomeranians 3}
 {:sue 438 :perfumes 10 :akitas 2 :cars 7}
 {:sue 439 :perfumes 10 :samoyeds 6 :akitas 10}
 {:sue 440 :vizslas 10 :trees 2 :akitas 8}
 {:sue 441 :perfumes 8 :akitas 2 :pomeranians 7}
 {:sue 442 :cars 8 :trees 3 :goldfish 6}
 {:sue 443 :cars 1 :goldfish 5 :vizslas 5}
 {:sue 444 :vizslas 2 :akitas 10 :samoyeds 4}
 {:sue 445 :vizslas 2 :akitas 10 :perfumes 9}
 {:sue 446 :akitas 3 :vizslas 8 :goldfish 1}
 {:sue 447 :vizslas 7 :pomeranians 5 :trees 10}
 {:sue 448 :cats 6 :perfumes 10 :children 6}
 {:sue 449 :trees 2 :cars 5 :goldfish 8}
 {:sue 450 :trees 0 :goldfish 6 :samoyeds 3}
 {:sue 451 :perfumes 0 :cars 8 :trees 1}
 {:sue 452 :akitas 4 :trees 8 :perfumes 9}
 {:sue 453 :goldfish 1 :perfumes 7 :akitas 6}
 {:sue 454 :vizslas 3 :cars 1 :perfumes 6}
 {:sue 455 :trees 1 :akitas 7 :goldfish 10}
 {:sue 456 :samoyeds 4 :vizslas 2 :cars 9}
 {:sue 457 :perfumes 10 :children 1 :trees 8}
 {:sue 458 :perfumes 0 :vizslas 9 :cars 8}
 {:Sue 459 :cats 0 :children 7 :trees 3}
 {:sue 460 :vizslas 4 :cats 6 :perfumes 2}
 {:sue 461 :trees 3 :children 5 :cars 8}
 {:sue 462 :goldfish 7 :vizslas 7 :children 5}
 {:sue 463 :cars 5 :akitas 3 :goldfish 5}
 {:sue 464 :vizslas 0 :pomeranians 5 :cars 0}
 {:sue 465 :goldfish 4 :akitas 0 :cats 5}
 {:sue 466 :cars 5 :trees 1 :goldfish 6}
 {:sue 467 :perfumes 10 :trees 8 :cars 1}
 {:sue 468 :perfumes 4 :akitas 3 :cars 0}
 {:sue 469 :vizslas 3 :cars 7 :pomeranians 1}
 {:sue 470 :perfumes 1 :vizslas 7 :akitas 8}
 {:sue 471 :goldfish 10 :samoyeds 10 :pomeranians 5}
 {:sue 472 :goldfish 6 :trees 0 :perfumes 0}
 {:sue 473 :goldfish 5 :vizslas 0 :children 5}
 {:sue 474 :cars 3 :vizslas 7 :perfumes 10}
 {:sue 475 :vizslas 5 :trees 9 :goldfish 8}
 {:sue 476 :akitas 2 :goldfish 6 :children 7}
 {:sue 477 :samoyeds 0 :perfumes 1 :pomeranians 5}
 {:sue 478 :trees 2 :goldfish 9 :vizslas 0}
 {:sue 479 :perfumes 1 :cars 6 :goldfish 9}
 {:sue 480 :pomeranians 3 :perfumes 5 :trees 9}
 {:sue 481 :cats 3 :akitas 0 :vizslas 8}
 {:sue 482 :pomeranians 10 :akitas 8 :trees 5}
 {:sue 483 :goldfish 6 :akitas 10 :perfumes 2}
 {:sue 484 :cats 0 :goldfish 0 :children 9}
 {:sue 485 :children 4 :akitas 10 :vizslas 8}
 {:sue 486 :vizslas 3 :goldfish 9 :children 10}
 {:sue 487 :children 8 :cats 6 :vizslas 10}
 {:sue 488 :cars 7 :akitas 10 :samoyeds 5}
 {:sue 489 :vizslas 9 :akitas 6 :trees 2}
 {:sue 490 :vizslas 5 :akitas 1 :children 5}
 {:sue 491 :vizslas 8 :goldfish 3 :perfumes 6}
 {:sue 492 :trees 3 :samoyeds 1 :pomeranians 6}
 {:sue 493 :akitas 1 :vizslas 5 :cars 8}
 {:sue 494 :akitas 4 :cars 4 :vizslas 9}
 {:sue 495 :vizslas 1 :akitas 2 :cats 2}
 {:sue 496 :trees 7 :vizslas 5 :akitas 6}
 {:sue 497 :akitas 8 :trees 2 :perfumes 6}
 {:sue 498 :akitas 1 :trees 1 :samoyeds 4}
 {:sue 499 :cars 0 :akitas 5 :vizslas 3}
 {:sue 500 :cats 2 :goldfish 9 :children 8}]
